.Footer {
    align-self: stretch;
    background-color: rgba(43, 43, 43, 0.9);
    color: rgb(230, 230, 230);
    font-size: 0.9rem;
    padding: 5px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .Footer {
    font-size: 0.8rem;
    padding: 5px;   
}
}

@media screen and (max-width: 450px) {
    .Footer {
    font-size: 0.7rem;
    padding: 5px;   
}
}

.Footer > * {
    display: flex;
    align-items: center;
}

.Footer img {
    height: 2rem;
    width: 2rem;
    margin-left: 10px;
}

@media screen and (max-width: 650px) {
    .Footer img {
        height: 1.7rem;
        width: 1.7rem;
        margin-left: 8px;
    }
}
