/* .Searchwiki {
    margin-top: 7vh;
    flex-grow: 1;
} */
.Searchwiki h1 {
    font-size: 3rem;
    margin-top: 0;
}

@media screen and (max-width: 650px) {
    .Searchwiki h1  {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 450px) {
    .Searchwiki h1  {
        font-size: 1.8rem;
    }
}

.Searchwiki input {
    font-size: 1.1rem;
    padding: 3px 20px;
    width: 450px;
    max-width: 80%;
    border-radius: 5px;
    margin: 10px;
}

@media screen and (max-width: 650px) {
    .Searchwiki input {
    font-size: 1rem;
    padding: 2px 15px;
    width: 300px;
    max-width: 90%;
    margin: 5px;
    }
}

@media screen and (max-width: 450px) {
    .Searchwiki input {
    /* font-size: 1rem; */
    padding: 2px 10px;
    width: 200px;
    /* max-width: 90%; */
    margin: 2px;
    }
}

.btn {
    font-size: 1.1rem;
    font-family: inherit;
    border-radius: 5px;
    padding: 3px 20px;
}

@media screen and (max-width: 650px) {
    .btn {
    font-size: 1rem;
    font-family: inherit;
    padding: 3px 10px;
    margin-top: 0;
    margin-bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    .btn {
    /* font-size: 1rem;
    font-family: inherit;
    border-radius: 5px; */
    padding: 3px 5px;
    }
}

.btn:hover {
    text-decoration: underline;
}

.btn--search {
    background-color: rgb(59, 23, 0);
    color: rgb(255, 244, 234);
}

.btn--random {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(59, 23, 0);
}