.App {
  text-align: center;
  height: 95vh;
  width: 100%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 650px) {
    .App  {
        height: 97vh;
        padding-top: 3vh;
    }
}

@media screen and (max-width: 450px) {
    .App  {
        height: 98.5vh;
        padding-top: 1.5vh;
    }
}

.SearchwikiPart {
  flex-grow: 1;
}

.errorMessage {
  display: none;
  background-color: rgba(187, 0, 0, 0.7);
  color: rgb(255, 248, 248);
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 7px;
}

